/* src/app/globals.css */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add zoom effect to the video */
.zoom-video {
  animation: zoomIn 30s infinite linear;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* Global RTL adjustments */
html[dir="rtl"] {
  direction: rtl;
  text-align: right; /* Default text alignment for RTL */
}

/* Add this LTR utility class */
.ltr {
  direction: ltr !important; /* Use !important to override global RTL */
}

/* Example for adjusting margin/padding for RTL */
/* This would apply if you have a class like .ml-4 in LTR */
.ml-4 {
  margin-left: 1rem;
}
html[dir="rtl"] .ml-4 {
  margin-right: 1rem;
  margin-left: 0; /* Reset LTR property */
}

a[href*="elfsight.com/google-reviews-widget"] {
  display: none !important;
  visibility: hidden !important;
}
a[href*="elfsight.com"] {
  display: none !important;
  visibility: hidden !important;
}
